<application>
    <name>Nexo Store Advanced Manager</name>
    <namespace>nsam</namespace>
    <version>1.6.1</version>
    <author>Blair Jersyer</author>
    <description>Add more feature to handle better Multi Store on NexoPOS.</description>
    <language>/language</language>
    <main>nsam.php</main>
    <dependencies>
        <module namespace="nexo">Nexo</module>
    </dependencies>
</application>
