<?xml version="1.0" encoding="utf-8"?>
<application>
	<namespace>stock-manager</namespace>
	<name>Stock Manager</name>
	<author>Blair Jersyer</author>
	<version>1.2</version>
	<description>Improve the stock management for multi store.</description>
	<main>stock-manager.php</main>
	<language>language/</language>
	<dependencies>
		<module namespace="nexo">Nexo</module>
	</dependencies>
</application>
