<?xml version="1.0"?>
<application>
	<namespace>nexo</namespace>
	<name>Nexo</name>
	<description>Nexo by Tendoo team</description>
		<version>3.10.0</version>
	<main>main.php</main>
	<language>language/</language>
	<dependencies>
		<module namespace="grocerycrud">Grocery Crud</module>
	</dependencies>
</application>
